$linkColor: #000;
$menuLinkColor: #000;
$menuActiveLinkColor: #d73427;
$landingTextColor: #fff;
$locationPromoColor: #d3a6a3;
$mWidthBig: 1280px;
$mWidthMedium: 1035px;
$mWidthMobile: 500px;
$maxContainerWidth: 1333px;
